*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: #fff;
}
hr{
    border: 1px solid hsla(0, 0%, 100%, 0.2);
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}

#hero{
    background: url(../img/5.png) no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    letter-spacing: 0.5px;

}
    
.navbar{
    color: #ffffff;
    background: transparent;
    padding: 15px 0 5px 0;;
    margin-right: 2.7rem;
    margin-left: 4rem;
    }

.brand{
    color: #ffffff !important;
    font-size: 36px;
    font-weight: 600;

}

.navbar-brand:hover{
    color: #ffffff !important;
}
.nav-link{
    color: #ffffff !important;
    font-weight: 600;
    margin-right: 1.8rem;
}
.nav-link:hover{
    color: #ffffff !important;
}


.hero-img{
        margin-top: 2.7rem;
        height: 40vw;
        margin-left: 7rem;
    }

    .text{
        font-family: 'Nunito Sans', sans-serif;
        color: #ffffff;
        margin-top: 5.5rem;

    }
    .text h1{
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 72px;
    }
    .text p{
        margin-top: 24px;
        margin-bottom: 56px;
        color: hsla(0, 0%, 100%, 0.7);
        width: 80%;
        font-size: 14px;

    }
    .btn-primary{
        background: #ffffff !important;
        padding: 16px 32px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        letter-spacing: 0.6px;
    }
    .btn-text{
        color: #0047cc !important;
    }

    
/*--------------------------------------------------------------
    # Feature Section
--------------------------------------------------------------*/




.feature-row{
    padding-top: 120px;
    padding-bottom:120px;
}
.feature-row:nth-child(1){
    margin-top: 0;
}
.feature-row:nth-child(3){
    padding-bottom: 0;
}
.feature-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.feature-text{
    margin-top: 4rem;
}

.feature-text h1{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #042c5c;
    font-size: 48px;
    font-weight: 700;
}

.feature-text p{
    font-size: 14px;
    color: #77869e;
    font-family: 'Nunito Sans', sans-serif;

}

.carousel{
    background: #6820d2ed;
    color: #ffffff;
}

.rating{
    margin-right: auto;
    margin-left: 30rem;
    margin-top: 9rem;
}
  .carousel-caption {
    bottom: 10rem;
    max-width: 55%;
    margin-right: auto;
    margin-left: auto;
    font-size: 24px;
  }

  .testimonial-author{
    opacity: 0.7;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 1rem;
  }
  
  .carousel-item {
    height: 32rem;
  }

  .pricing-header h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #042c5c;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
  }
  
  .card-header{
    position: relative;
    overflow: hidden;
    margin: -1px -1px 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #6820d2ed;
  }
  .card-deck .card {
    min-width: 220px;
    border-radius: 16px;
    box-shadow: 0 8px 30px 1px rgba(4, 44, 92, 0.15);
    border: 1px solid #d9dfe6;

  }
  .pricing-table-row {
    padding: 16px 20px;
    border-bottom: 1px solid #d9dfe6;
    color: #042c5c;
    font-size: 14px;
    font-weight: 600;
}
  .company-logo{
      width: 120%;
      height: 32px;
      opacity: 0.7;
      transition: 300ms ease;
  }

  .company-logo:hover{
      opacity: 1;
  } 

  .btn-img{
    height: 60px;
  }
  #footer{
      background: url(../img/Footer\ Bg.png);
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-color: #fbfcfc;
      padding-top: 80px;
  }
  .copyright-text {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-decoration: none;
  }
  
  .copyright-text.right {
    margin-right: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

/*--------------------------------------------------------------
    # Responsive 
--------------------------------------------------------------*/


@media (max-width: 1280px){
    .hero-img{
        margin-top: 2.5rem;
        height: 82vh;
        margin-left: 10rem;
    }
    .text {
        margin-top: 1rem;
    }
    .text p{
        font-size: 14px;
    }
    
}
@media (max-width: 991px){

    .text {
        margin-top: 0;
    }
    .hero-img{
        margin-top: 2.7rem;
        height: 58vw;
        margin-left: 5rem;
    }
    #hero h1 {
        font-size: 66px;
        line-height: 66px;
      }
      .feature-text h1{
        font-size: 42px;
        line-height: 48px;
    }
    .feature-img{

    }
      .rating{
        margin-right: auto;
        margin-left: 17.7rem;
    }
    .btn-img {
        height: 43px;
    }
    .copyright-text.right{
        font-size: 11px;
        margin-right: 2px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 767px) {
    
    .section {
        padding-top: 88px;
        padding-bottom: 88px;
    }
    .hero-img{
        margin-top: 2.7rem;
        height: 100vw;
        margin-left: 5rem;
    }
    #hero h1 {
      font-size: 60px;
      line-height: 66px;
    }
    #hero p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    .adiv{
        order: 2;
    }
    .cdiv{
        order: 1;
    }
    .carousel-caption h4{
        bottom: 7rem;
        font-size: 18px;
      }
    .rating{
        margin-right: auto;
        margin-left: 11rem;
    }
   
    #footer .brand{
        text-align: center ;
    }
    .copyright-text{
        text-align: center;
    }
    .company-logo {
        margin-top: 3rem;
    }
  }
  
  @media only screen and (max-width: 479px){
   
    .hero-img{
        margin-top: 7.7rem;
        height: 118vw;
        position: relative;
    }
    .text{
        margin-top: 3.5rem;
        margin-left: 0;
        text-align: center;

    }
    #hero h1{
        font-size: 60px;
        line-height: 66px;
    }
    #hero p{
        margin-left: 3rem;

    }
    .feature-img{
        height: 40vh;
    }
   
    .rating{
        margin-left: 8.9rem;
    }

    .carousel-caption{
        bottom: 8rem;
        max-width: 57%;
        font-size: 18px;
        
      }

      .copyright-text{
          text-align: center;
      }
    
  }
  
